extends index

block search-form
    form(id="register-form", style="width: 100%", class="needs-validation", novalidate)
        .form-row.justify-content-md-center.alerts            
        div.form-row.justify-content-md-center            
            div.col-sm-12
                label(class="sr-only", for="name") First Name
                div.input-group.mb-2
                    div.input-group-prepend
                        .input-group-text
                            i(class="fas fa-ad")
                    input(type="text", id="name", name="name", class="form-control", placeholder="input your name...", required)
                    div.invalid-feedback Please input a valid name in either arabic or english
            div.col-sm-12
                label(class="sr-only", for="empid") Mobile Number
                div.input-group.mb-2
                    div.input-group-prepend
                        .input-group-text
                            i.fas.fa-address-card
                    input(type="text", id="empid", name="empid", class="form-control", placeholder="Input ADNOC Employee ID number...", required)
                    div.invalid-feedback Please input a valid ADNOC Employee ID number
            div.col-sm-12
                button(class="btn btn-outline-primary btn-sm btn-block btn-submit", type="submit") Register

block extra-js
    script(src="/javascripts/form.js")