doctype html
html
  head
    title= title
    link(rel="stylesheet", 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", 
        crossorigin="anonymous")
    link(rel="stylesheet", 
        href="https://use.fontawesome.com/releases/v5.3.1/css/all.css", 
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU", 
        crossorigin="anonymous")
    block extra-css    
    link(rel='stylesheet', href='/stylesheets/style.css')    
  body
    nav.navbar.navbar-expand-lg
      a(href="/", class="navbar-brand float-right")
        img(src="/images/ADNOC_logo.svg")      
    block content
  footer.footer
  script(src="/javascripts/jquery-3.3.1.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", 
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", 
        crossorigin="anonymous")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", 
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", 
        crossorigin="anonymous")
  block extra-js