extends layout

block content
  dev.container
    .row.justify-content-md-center
      .col-md-6.col-sm-12
        div(class="output", id="output")
    .row.justify-content-md-center
      .col-md-6.col-sm-12
        a(class="btn btn-outline-primary btn-sm btn-block btn-submit", onclick="raffle()" href="javascript:void(0)") Roll
    .row.justify-content-md-center.result
        

block extra-js
    script var numbers= [#{data}]
    script(src="/javascripts/descrambler.min.js")
    script(src="/javascripts/raffle.js")