body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/images/raffle-footer.PNG");
  background-color: #dadbdd;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

a {
  color: #00B7FF;
}

.navbar {
  display: block;
  min-height: 8rem;
}

.navbar img {
  max-width: 4rem;
}

.container, .container-fluid {
  display: block;
  padding-top: 5rem; 
}

#register-form {
  padding: 2rem;
  border: solid 1px #ced4da;
  border-radius: 5px;
}

#register-form .form-row .btn-submit {
  margin-top: 2rem;
}

.output {
  margin-bottom: 2rem;
  padding: 2rem;
  background: #0057a5;
  border-radius: 2px;
  font-size: 5rem;
  width: 100%;
  color: white;
  float: left;
  text-align: center;
}

.container .card {
  margin-top: 2rem;
  font-size: 1.5rem;
}

.container .card .card-title{
  font-size: 2rem;
}

.footer {
  height: 10rem;
}